<div class="container-fluidcalculator calculator-{{componentSeed}}">
  <div class="row">
    <div class="col-md-4 form-inline">
        | {{bs-form-element controlType="text" class="input-one" value=numberOne}} - {{bs-form-element controlType="text" class="input-two" value=numberTwo}} | = {{sum}}
    </div>
    <div class="col-md-2">
        {{#bs-button icon="glyphicon glyphicon-scale" action="absoluteDifference"}}Calculate Absolute Difference{{/bs-button}}
    </div>
  </div>
</div>
