<div class="standard-margin">
  <h1>Absolute Difference Calculator</h1>

  <div class="panel panel-default">
    <div class="panel-heading">UI</div>
    <div class="panel-body" id="absoluteCalculator">
      {{calculator-absolute}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Code</div>
    <div class="panel-body">
<pre>absoluteDifference(numberOne, numberTwo) {
  return Math.abs(parseInt(numberOne) - parseInt(numberTwo));
}</pre>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Instructions</div>
    <div class="panel-body">
      Imagining that you are handling all QA efforts for the application and single function above:
      <ul>
        <li>Write unit tests for the provided code function above (can be real code or pseudocode)</li>
        <li>Write E2E tests for the provided UI above (can be real code or pseudocode)</li>
      </ul>
      Though it is not needed for this exercise, the code for this application can be found at <a href="https://github.com/BrianMcBrayer/qa-tech-screen">https://github.com/BrianMcBrayer/qa-tech-screen</a>
    </div>
  </div>
</div>
